/ {
    chosen {
        zmk,kscan = &default_kscan;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        input-gpios = <
            &pro_micro 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D0
            &pro_micro 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D1
            &pro_micro 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D2
            &pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D3
            &pro_micro 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D4
            &pro_micro 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D5
            &pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D6
            &pro_micro 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D7
            &pro_micro 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D8
            &pro_micro 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D9
            &pro_micro 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D10
            &pro_micro 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  // D11
        >;
    };
};
